html,body{
    overflow: hidden;
    padding:0;
    margin:0;
    -webkit-user-select: none;
}

.construct_tree {
    position: absolute;
    left: 0px;
    top: 430px;
    width: 300px;
    height: 300px;
    text-align: center;
    background: #ff0000;
    overflow: scroll;
    -webkit-user-select: none;
}

.equipment_tree {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 300px;
    height: 300px;
    text-align: center;
    background: #00ff00;
    overflow: scroll;
}

.equip_panel {
    color: white;
    visibility: visible;
    background: #333333;
    width: 190px;
    height: 190px;
    left: 0px;
    top: 0px;
    opacity: 0.7;
    position: absolute;
    font-size: 15px;
    pointer-events: none;
}

.bim_view {
    width: 100%;
    height: 100%;
    background: black;
}

.core_fs {
    position: absolute;
    left: 32%;
    bottom: 2%;
    width: 36%;
    height: 100px;
    pointer-events: none;
}

.core_row_one{
    pointer-events: none;
    width:100%;
    height:50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.core_row_two{
    width:100%;
    height:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    pointer-events: all;
}