.box_whole{
    position:absolute;
    top:500px;
    width:300px;
    height:300px;
    opacity: 0.7;
    background: #e2afaf;
}
div.box_title{
    cursor: move;
    width: 100%;
    height: 30px;
    background: #934d4d;
    float: top
}
.box_close{
    background: url("../img/close.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    width:30px;
    height: 30px;
}
.box_resize{
    background: url("../img/resize.png");
    background-size: cover;
    cursor: se-resize;
    position: absolute;
    right:0px;
    bottom: 0px;
    width:10px;
    height:10px;
}